/**{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	font-size: 17px;
	color: #926239;
	line-height: 1.6;
}



#showcase{
	background-image:url('../img/blog.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;	
}

#showcase h1{
	font-size: 50px;
}

p{
	font-size: 20px;
}

.button{
	text-decoration:none;
	color: #926239;
}*/